*:focus-visible {
  outline: none;
}
*::before,
*::after {
  box-sizing: border-box;
}

html {
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style-type: none;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  margin-top: 10%;
  color: #ffffff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
}

.button[type="submit"] {
  display: inline-block;
  margin-top: 2%;
  width: 27.3%;
  height: 35px;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  line-height: 0%;
}

.button:active {
  text-decoration: none;
  background-color: #545050;
}

button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.button:focus-visible {
  outline: 1px solid #ffffff;
  outline-offset: 1px;
}

.more-button {
  display: inline-block;
  width: 391px;
  height: 33px;
  margin-top: 28px;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  line-height: 0%;
}

.content {
  display: grid;
  grid-template-columns: 61% auto;
  padding: 12% 0.2% 0% 2.4%;
  column-gap: 2.4%;
  background-color: #1b1919;
}

.content__accent {
  display: inline-block;
  border: 1px solid transparent;
  width: 36%;
  height: 32%;
  position: relative;
  color: #545050;
  text-transform: uppercase;
}

.content__accent::before {
  content: "-";
  position: absolute;
  background-color: #1b1919;
  margin-top: -5%;
  margin-left: 64%;
  width: 19%;
  height: 95%;
}

.content__card-link:hover {
  text-decoration: underline;
  text-decoration-color: #ffffff;
  cursor: pointer;
}

.content__card-link:active,
.content__card-link_current {
  text-decoration: none;
  background-color: #545050;
}

.content__card-link {
  display: block;
}

.content__card-link:focus-visible {
  outline: 1px solid #ffffff;
  outline-offset: 3px;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 3.6%;
  padding: 0% 6.5% 0% 0%;
}

.content__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 25px;
  padding-left: 1%;
}

.content__list-container {
  width: 398px;
  height: 306px;
  position: relative;
  overflow-y: scroll;
}

.content__video-card-title {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 192px;
  color: #ffffff;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  letter-spacing: normal;
  color: #ffffff;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content__video-card-description-container {
  width: 50%;
  height: auto;
}

.content__video-card-thumbnail {
  object-position: center;
  object-fit: cover;
  width: 50%;
  height: auto;
}

.result {
  padding-top: 10.3%;
}

.result__video-container {
  display: block;
  outline: 1px solid transparent;
  position: relative;
  object-position: center;
  object-fit: cover;
  width: 712px;
  height: 387px;
}

.search-form {
  display: flex;
  padding-top: 3%;
  width: 100%;
  height: 12%;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  z-index: 0;
}

.search-form__checkbox[type="checkbox"] + span {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 1px solid #ffffff;
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}

.search-form__checkbox[type="checkbox"]:active + span,
.search-form__checkbox[type="checkbox"]:checked + span {
  width: 16px;
  height: 16px;
  background-color: #ffffff;
  border: 3px double #1b1919;
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: auto;
  gap: 3%;
}

.search-form__fieldset {
  width: 31%;
  height: auto;
  border: none;
}

.search-form__fieldset-title {
  display: inline;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 68%;
  vertical-align: top;
  text-align: start;
}

.search-form__fieldset:first-child {
  width: 31.7%;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  outline: none;
}

.search-form__label:has(.search-form__checkbox[type="checkbox"]:focus-visible) {
  outline: 1px solid #ffffff;
  outline-offset: 1px;
}

.search-form__label:has(.search-form__checkbox[type="checkbox"]:hover) {
  text-decoration: underline #ffffff;
  cursor: pointer;
}

.search-form__textfield {
  background-color: transparent;
  outline: none;
  border: none;
  width: 120%;
  border-top: 1.5px solid #ffffff;
  border-bottom: 1.5px solid #ffffff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
  line-height: 100%;
}

.search-form__textfield:hover {
  outline: none;
}

.search-form__textfield:focus-visible {
  outline: 1px solid #ffffff;
  outline-offset: 1px;
}

.title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

video {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #ffffff;
}
